#borda{
    width: 900px;
    height: 300px;
    margin-left: 10px;
    border-radius: 10px;
 background-color: rgb(255, 209, 217);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.data{
    background-color: rgb(255, 148, 162);
    border-radius: 5px;
}
.email{
    background-color: rgb(255, 148, 162);
    border-radius: 5px;
}
.campo{
    background-color: rgb(255, 148, 162);
    border-radius: 5px;
}
